{% extends 'catalog/base.html' %}

{% block content %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        {% if validlink %}
            <p>Veuillez entrer (et confirmer) votre nouveau mot de passe.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Nouveau mot de passe:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirmez le mot de passe:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change my password" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Echec de la réinitialisation.</h1>
            <p>Le lien pour le changement de mot de passe n'est pas valide,
                probablement parce qu'il a déjà été utilisé.
                Merci de refaire une demande de réinitialisation de mot de passe.</p>
        {% endif %}
    </div>
</header>
{% endblock %}