<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pur Beurre</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Custom fonts for this template -->
    <link href="{% static 'catalog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'catalog/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/creative.css' %}" />

    <!-- Font awesome import -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/d5c8504831/UntitledProject/style-svg.css">
    <script defer src="https://i.icomoon.io/public/temp/d5c8504831/UntitledProject/svgxuse.js"></script>

    <link rel="shortcut icon" href="../img/icons/logo/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/icons/logo/favicon.ico" type="image/x-icon">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img src="{% static 'catalog/img/icons/logo/logo_pur_beurre.png' %}" height="40"/>  Pur beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" id="rightnav">
            <li class="nav-item">
              {% include 'catalog/search_form.html' %}
            </li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'account' %}"><i class="fa fa-3x mb-3 fas fa-user" style="color:#E8A75D"></i></a></li>
              <li><a href="{% url 'saved_products' %}"><img src="{% static 'catalog/img/icons/Icons/carrot.svg' %}" alt="Mes produits" style="height:42px"></a></li>
              <li><a href="{% url 'logout'%}?next={% url 'index' %}"><i class="fa fa-3x mb-3 fas fa-sign-out" style="color:#E8A75D"></i></a></li>
            {% else %}
              <li><a href="{% url 'login' %}?next={{request.path}}"><i class="fa fa-3x far fa-user" style="color:#E8A75D"></i></a></li>
              <li><a href="{% url 'login' %}?next={% url 'saved_products' %}"><img src="{% static 'catalog/img/icons/Icons/carrot.svg' %}" alt="Mes produits" style="height:42px"></a></li>
              <li><a href="{% url 'index' %}"><i class="fa fa-3x mb-3 fas fa-sign-out" style="color:#E8A75D"></i></a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>


    {% block content %}{% endblock %}



    <section class="footer text-white" id="footer" style="position: relative;
                                                   right: 0;
                                                   bottom: 0;
                                                   left: 0;
                                                   padding: 1rem;
                                                   background-color: #DE9440;">
      <div class="container" >
        <div class="row">
          <div class="col-lg-6 text-center">
            <h3><a href="{% url 'conditions' %}">Mentions légales</a></h3>

          </div>
          <div class="col-lg-6 text-center">
            <h3><a href="mailto:purbeurre@legrascestlavie.fr">Contact</a></h3>

          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'catalog/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'catalog/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'catalog/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'catalog/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'catalog/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'catalog/js/creative.min.js' %}"></script>

  </body>

</html>
