{% extends 'catalog/base.html' %}

{% block content %}

<div class="text-center bg-dark text-white" id="food_name" style="height: 25%">
  <h1 class="intro-text text-center" >Mentions légales</h1>
</div>

<section class="bg-primary" id="founders">
    <div class="container">
        <div>Utilisation du language <a href="https://www.python.org" title="Python">Python</a> sous license
            <a href="https://www.python.org/download/releases/2.0.1/license/" target="_blank">Python 2.0.1</a></div>

        <div>Site développé à l'aide du framework <a href="https://getbootstrap.com" title="Bootstrap">Bootstrap</a>
            et de son template <a href="https://startbootstrap.com/template-overviews/creative/" title="Creative">Creative</a>
            sous license <a href="https://opensource.org/licenses/MIT" title="MIT License" target="_blank">MIT</a>.</div>


        <div>Icones réalisées par <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
            de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> sous license
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            et <a href="https://fontawesome.com" title="Fontawesome">fontawesome.com</a> sous license
            <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons BY 4.0" target="_blank">CC 4.0 BY</a>.
        </div>

        <div>Données issues de <a href="https://en.wiki.openfoodfacts.org/API" title="API">l'API</a> <a href="https://fr.openfoodfacts.org" title="OpenFoodFacts">Openfoodfacts</a>
            sous licenses <a href="https://opendatacommons.org/licenses/odbl/" title="OdBl License">OdBL licence</a> (base de donnée) et
            <a href="https://creativecommons.org/licenses/by-sa/2.0/" title="CCBYSA">CC-BY-SA</a> (images).</div>

        <div>Photo réalisée par <a href="https://unsplash.com/@olenka_kotyk" title="Olena">Olenka Kotyk</a> de
            <a href="https://unsplash.com" title="Unsplash">Unsplash</a></div>

        <div>Images tirées du film <a href="https://www.pixar.com/feature-films/ratatouille" title="Ratatouille">Ratatouille</a>
            de <a href="https://www.pixar.com/feature-films/ratatouille" title="Pixar">Pixar</a></div>
                </div>
</section>


{% endblock %}