{% extends 'catalog/base.html' %}

{% block content %}



<header class="masthead text-center text-white d-flex">
      <div class="container my-auto" style="background-color:rgba(0, 0, 0, 0.5);">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text">
              Du gras, oui mais de qualité !
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <h2 class="text" style="padding-bottom:25px">
              Trouvez un produit de substitution pour ceux que vous consommez tous les jours.
            </h2>
              <center>{% include 'catalog/search_form.html' %}</center>
          </div>
        </div>
      </div>
    </header>


<section class="bg-primary" id="founders">
   <div class="container">
       <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Colette et Remy</h2>
            <hr class="my-4">
          </div>
        </div>
   </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux 
            restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une 
            cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille, nous 
            attire une clientèle internationale charmée par les délices de ce plat typique.  

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="static/catalog/img/portfolio/fullsize/colette-tatou-square.png">
              <h3 class="mb-3">Colette</h3>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="static/catalog/img/portfolio/fullsize/remy-square.jpg">
              <h3 class="mb-3">Remy</h3>

            </div>
          </div>

        </div>
      </div>
</section>


    <section class="bg-dark text-white" id="contact ">
      <div class="container  bg_dark">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactez-nous !</h2>
            <hr class="my-4">
            <p class="mb-5">Envie de mieux manger ? Ou tout simplement de venir nous rencontrer ?
              <br>Passez-nous un coup de téléphone ou envoyez-nous un mail et nous reviendrons vers vous dès que possible !</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:purbeurre@legrascestlavie.fr">purbeurre@legrascestlavie.fr</a>
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
